python-box==7.1.1
ensure==1.0.4
types-pyYAML==6.0.12.12
Flask-Cors==4.0.0
Flask==2.3.2
joblib==1.2.0
matplotlib==3.6.0
mlflow==2.10.2
notebook==7.1.0
numpy==1.25.2
pyYAML==6.0.1
tqdm==4.65.0
scikit-learn==1.2.2
Flask==2.3.2
Flask-WTF==1.1.1
requests==2.31.0
WTForms==3.0.1
pandas==2.2.0

-e .